<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Menu</title>
<style>
</style>
</head>
<body>
	<!-- fragments1 -->
	<div th:fragment="sidemenu">
		<div th:if="${'/upload/'+session.loginMember.memberId+'.png'}!=null">
			<img id="pic" class="rounded-circle" th:src="${'/upload/'+session.loginMember.memberPic}" width="90" height="90">
		</div>
		<div class="item" id="member"><span th:text="${session.loginMember.memberId}"></span>님</div>
		<div class="item" id="home"><a th:href="@{/home}">홈</a></div>
		<div class="item" id="memberInfo"><a th:href="@{/memberInfo}">회원정보</a></div>
		<div class="item" id="cashbook"><a th:href="@{/cashbookList}">가계부 관리</a></div>
		<div class="item" id="board"><a th:href="@{/boardList}">게시판</a></div>
		<div class="item" id="logout"><a th:href="@{/logout}">로그아웃</a></div>
	</div> 
	<!-- /include/menu::sidemenu -->
	<!-- fragments2 -->
	
	<!-- fragments3 -->
	
	<!-- fragments4 -->
	
	<!-- fragments5 -->
</body>
</html>