<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Menu</title>
<style>
</style>
</head>
<body>
	<!-- fragments1 -->
	<div th:fragment="sidemenu">
		<div id="item"><span th:text="${session.loginMember.memberId}"></span>님</div>
		<div id="item"><a th:href="@{/home}">홈</a></div>
		<div id="item"><a th:href="@{/memberInfo}">회원정보</a></div>
		<div id="item"><a th:href="@{/getCashListByDate}">일별 가계부 관리</a></div>
		<div id="item"><a th:href="@{/getCashListByMonth}">월별 가계부 관리</a></div>
		<div id="item"><a th:href="@{/logout}">로그아웃</a></div>
	</div> 
	<!-- /include/menu::sidemenu -->
	<!-- fragments2 -->
	
	<!-- fragments3 -->
	
	<!-- fragments4 -->
	
	<!-- fragments5 -->
</body>
</html>