<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>addMember</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	let helperInit = function() {
		$('#idHelper').text("");
		$('#pwHelper').text("");
		$('#pwHelper').text("");
		$('#nameHelper').text("");
		$('#addrHelper').text("");
		$('#phoneHelper').text("");
		$('#emailHelper').text("");
		$('#memberIdCk').text("");
	}
	$(document).ready(function(){
		$('#btn').click(function(){
			if($('#memberId').val().length < 4) {
				helperInit();
				$('#idHelper').text("ID 4자 이상");
				$('#memberId').focus();
			} else if($('#memberPw').val().length < 4) {
				helperInit();
				$('#pwHelper').text("PW 4자 이상");
				$('#memberPw').focus();
			} else if($('#memberPw').val() !== $('#memberPw2').val()) {
				helperInit();
				$('#pwHelper').text("PW를 확인하세요.");
				$('#memberPw').focus();
			} else if($('#memberName').val().length === 0) {
				helperInit();
				$('#nameHelper').text("이름을 확인하세요.");
				$('#memberName').focus();
			} else if($('#memberAddr').val().length === 0) {
				helperInit();
				$('#addrHelper').text("주소를 입력하세요.");
				$('#memberAddr').focus();
			} else if($('#memberPhone').val().length === 0) {
				helperInit();
				$('#phoneHelper').text("전화번호를 입력하세요.");
				$('#memberPhone').focus();
			} else if($('#memberEmail').val().length === 0) {
				helperInit();
				$('#emailHelper').text("이메일을 확인하세요.");
				$('#memberEmail').focus();
			} else {
				$('#myForm').submit();
			}
		});
		$('#ckBtn').click(function(){
			$('#idForm').submit();
		});	
	});
</script>
<style>
	#flexContainer {
		margin-top: 20px;
		padding: 30px;
		height: 850px;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		border: 1px solid #E0E0E0;
		
	}
</style>
</head>
<body>
	<div id="flexContainer">
		<h1>회원가입</h1>
		<form id="idForm" action="/checkMemberId" method="post">
			<div>
				아이디 중복 확인: <input type="text" name="memberIdCk" id="memberIdCk" placeholder="아이디 입력">
				<button id="ckBtn" class="btn btn-light" type="button">중복체크</button>
				<span th:text="${msg}"></span>
			</div>
		</form>
		<form id="myForm" action="/addMember" method="post" enctype="multipart/form-data">
			<div>
				<div>사진</div>  
				<div><input type="file" name="memberPic" id=""></div>
				<span th:text="${msg1}"></span>
			</div>
			<div>
				아이디 : <input type="text" th:value="${memberIdCk}" name="memberId" id="memberId" placeholder="아이디 입력" readonly="readonly">
				<span id="idHelper"></span>
			</div>
			<div>
				비밀번호 : <input type="password" name="memberPw" id="memberPw" placeholder="비밀번호 입력">
				<span id="pwHelper"></span>
			</div>
			<div>
				비밀번호 확인 : <input type="password" id="memberPw2" placeholder="비밀번호 확인">
			</div>
			<div>
				사용자 이름 : <input type="text" name="memberName" id="memberName" placeholder="사용자 이름">
				<span id="nameHelper"></span>
			</div>
			<div>
				주소 : <input type="text" name="memberAddr" id="memberAddr" placeholder="사용자 주소">
				<span id="addrHelper"></span>
			</div>
			<div>
				전화번호 : <input type="text" name="memberPhone" id="memberPhone" placeholder="사용자 전화번호">
				<span id="phoneHelper"></span>
			</div>
			<div>
				이메일 : <input type="text" name="memberEmail" id="memberEmail" placeholder="사용자 이메일">
				<span id="emailHelper"></span>
			</div>
		</form>
			<div>
				<button id="btn" class="btn btn-primary">회원가입</button>
			</div>
	</div>
</body>
<script>
	/* const btn = document.querySelector('#btn');
	
	const helperInit = () => {
	   document.getElementById('idHelper').innerText = "";
	   document.getElementById('pwHelper').innerText = "";
	   document.getElementById('nameHelper').innerText = "";
	   document.getElementById('addrHelper').innerText = "";
	   document.getElementById('phoneHelper').innerText = "";
	   document.getElementById('emailHelper').innerText = "";
	};
	btn.addEventListener('click', () => {
	    if(document.querySelector('#memberId').value.length < 4) {
	        helperInit();
	        document.getElementById('idHelper').innerText = "ID 4자 이상";
	        document.getElementById('memberId').focus();
	    } else if(document.querySelector('#memberPw').value.length < 4) {
	        helperInit();
	        document.getElementById('pwHelper').innerText = "PW 4자 이상";
	        document.getElementById('memberPw').focus();
	    } else if(document.querySelector('#memberPw').value !== document.querySelector('#memberPw2').value) {
	        helperInit();
	        document.getElementById('pwHelper').innerText = "PW 확인";
	        document.getElementById('memberPw').focus();
	    } else if(document.querySelector('#memberName').value.length === 0) {
	        helperInit();
	        document.getElementById('nameHelper').innerText = "이름을 입력하세요.";
	        document.getElementById('memberName').focus();
	    } else if(document.querySelector('#memberAddr').value.length === 0) {
	        helperInit();
	        document.getElementById('addrHelper').innerText = "주소를 입력하세요";
	        document.getElementById('memberAddr').focus();
	    } else if(document.querySelector('#memberPhone').value.length === 0) {
	        helperInit();
	        document.getElementById('phoneHelper').innerText = "전화번호를 입력하세요.";
	        document.getElementById('memberPhone').focus();
	    } else if(document.querySelector('#memberEmail').value.length === 0) {
	        helperInit();
	        document.getElementById('emailHelper').innerText = "이메일을 입력하세요.";
	        document.getElementById('memberEmail').focus();
	    } else {
	        document.getElementById('myForm').submit();
	    }
	}); */
</script>
</html>