<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>index</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
	#flexContainer {
		display: flex;
		margin-top: 100px;
		height: 500px;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	h1 {
		font-size: 40px;
		font-weight: bold;
	}
	#btn {
		width: 300px;
		height: 40px;
		border: 0px solid white;
		background-color: #3498db;
	}
	#copyRight1 {
		color: #babbba;
		font-size: 10px;
	}
	#copyRight2 {
		text-align: center;
		font-size: 14px;
	}
	
</style>
</head>
<body>
	<div id="flexContainer">
		<h1>가계부</h1>
			<div>test 아이디</div>
			<div>
				ID: test PW: 1234
			</div>
			<div id="flexItem" th:if="${session.loginMember != null}">
				<a id="btn" th:href="@{/logout}"><button id="btn" class="btn btn-primary">로그아웃</button></a>
			</div>
			<div id="flexItem" th:if="${session.loginMember == null}">
				<a th:href="@{/login}"><button id="btn" class="btn btn-primary">로그인</button></a><br><br><br>
				<a th:href="@{/addMember}"><button id="btn" class="btn btn-primary">회원가입</button></a>	
			</div>
			<div id="flexItem">
				<div id="copyRight1">본 콘텐츠의 저작권은 제공처에 있으며, 이를 무단 이용하는 경우 저작권법 등에 따라 법적 책임을 질 수 있습니다.</div>
				<div id="copyRight2">Copyright © JWsoft Corp. All Rights Reserved.</div>
			</div>
	</div>
			<div>
				1. 회원가입<br>
				 - png, jpg, jpeg 사진 업로드해서 회원가입 가능<br>
				<br>
				2. 회원정보 조회<br>
				 1) admin 로그인시<br>
				   - 현재 회원가입된 회원들의 목록을 볼 수 있음<br>
				   - 회원들을 강제탈퇴 시킬 수 있음(이때 가계부와 수입/지출 입력도 같이 지워짐 게시판과 댓글은 일부러 지우지 않음)<br>
				 <br>
				 2) 일반회원으로 로그인시<br>
				   - 회원정보 수정은 사진을 업로드 해야만 수정이 됨<br>
				 <br>
				3. 가계부 관리<br>
				 - 가계부 리스트 페이징 구현<br>
				 - 가계부를 각각 따로 생성해서 관리 가능<br>
				 - 일별, 월별, 월별비교 자유롭게 이동 가능 <br>
				 - 날짜별로 금액 전부 출력<br>
				 - 수입/지출 입력 비동기 처리 구현<br>
				 - 수입/지출 수정, 삭제 구현<br>
				<br>
				4. 게시판 <br>
				 - 게시판 작성, 수정, 삭제 가능 (해당 memberId만 가능)<br>
				 - admin은 일반회원의 게시판, 댓글 삭제 가능  <br>
				 - admin의 댓글은 별도의 색깔로 구분하게 함<br>
				 - 댓글 작성, 삭제 가능<br>
				 - 게시판,  댓글 페이징 구현<br>
			</div>
</body>
</html>