<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	// 유효성 검사
	$(document).ready(function(){
		$('#loginBtn').click(function(){
			
			$('#loginForm').submit();
		});
	});
</script>
<style>
	#box {
		margin: auto;
		margin-top: 100px;
		width: 500px;
		height: 500px;
		padding: 50px;
		border: 1px solid #E0E0E0;
		text-align: center;
	}
	#box div {
		margin: 20px;
	}
	#box input, button {
		width: 300px;
	}
	#loginBtn, #addMemberBtn {
		background-color: #3498db;
		border: none;
	}
</style>
</head>
<body>
	<div id="box">
		<h1>로그인</h1>
		<form id="loginForm" th:action="@{/login}" method="post">
			<div><input type="text" name="memberId" id="memberId" placeholder="아이디"></div>
			<div><input type="password" name="memberPw" id="memberPw" placeholder="비밀번호"></div>
			<div id="msg"><span th:text="${msg}"></span></div>
			<div>
				<a th:href="@{/findMemberId}">아이디가 기억나지 않아요.</a> <!-- 이메일 입력 : 이메일에 ID를 보내줌 -->
			</div>
			<div>
				<a th:href="@{/findMemberPw}">비밀번호가 기억나지 않아요.</a> <!-- 아이디 & 이메일 입력 : 이메일에 관리자가 변경한 PW를 보내줌 -->		
			</div>	
		</form>
			<div><button type="button" id="loginBtn" class="btn btn-primary">로그인</button></div>
			<div><a th:href="@{/addMember}"><button id="addMemberBtn" class="btn btn-primary">회원가입</button></a></div>
	</div>
</body>
</html>