<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	// 유효성 검사
	$(document).ready(function(){
		$('#loginBtn').click(function(){
			$('#loginForm').submit();
		});
	});
</script>
</head>
<body>
	<h1>로그인</h1>
	<form id="loginForm" action="/login" method="post">
		<div><input type="text" name="memberId" id="memberId" placeholder="아이디"></div>
		<div><input type="password" name="memberPw" id="memberPw" placeholder="비밀번호"></div>
		<div><span th:text="${msg}"></span></div>
	</form>
		<div><button type="button" id="loginBtn" class="btn btn-primary">로그인</button></div>
		<div><a href="/addMember"><button id="addMemberBtn" class="btn btn-primary">회원가입</button></a></div>
</body>
</html>