<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$('#modiBtn').click(function(){
			$('#modifyForm').submit();			
		});
	});

</script>
</head>
<body>
	<h1>정보수정</h1>
		<div th:include="/include/menu::sidemenu"></div>
		<form id="modifyForm" th:action="@{/modifyMemberInfo}" method="post" enctype="multipart/form-data">
			<table class="table">
				<tr>
					<th>사진</th>
					<td>
						<img th:src="@{${'/upload/'+member.memberPic}}">
						<input type="file" th:value="${member.memberPic}" name="memberPic" id="memberPic">
					</td>
				</tr>
				<tr>
					<th>아이디</th>
					<td><input type="text" th:value="${member.memberId}" name="memberId" readonly="readonly"></td>
				</tr> 
				<tr>
					<th>이름</th>
					<td><input type="text" th:value="${member.memberName}" name="memberName" id="memberName"></td>
				</tr>
				<tr>
					<th>주소</th>
					<td><input type="text" th:value="${member.memberAddr}" name="memberAddr" id="memberAddr"></td>
				</tr>
				<tr>
					<th>전화번호</th>
					<td><input type="text" th:value="${member.memberPhone}" name="memberPhone" id="memberPhone"></td>
				</tr>
				<tr>
					<th>이메일</th>
					<td><input type="text" th:value="${member.memberEmail}" name="memberEmail" id="memberEmail"></td>
				</tr>
				<tr>
					<th>가입날짜</th>
					<td><input type="text" th:value="${member.memberDate}" readonly="readonly"></td>
				</tr>
			</table>
		</form>
			<button id="modiBtn" class="btn btn-primary">정보수정</button>
</body>
</html>