@charset "UTF-8";
html, body {
		margin: 0;
		height: 100%;
	}
	#box {
		text-align: center;
		height: 100%;
		margin: 0;
		width: 200px;
		float: left;
		background-color: #3498db;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	li {
		margin: 50px;
	}