<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.MemberMapper">
	<!-- DBMS와 VO의 컬럼명 불일치를 해결하기 위해 사용하는 태그  -->
	<!-- <resultMap type="" id=""></resultMap> -->
	<update id="updateMemberInfo" parameterType="com.gdu.cashbook.vo.Member">
		UPDATE member
		SET
			member_addr=#{memberAddr},
			member_name=#{memberName},
			member_phone=#{memberPhone},
			member_email=#{memberEmail}
		WHERE member_id = #{memberId}
	</update>
	<select id="updatePwCk" resultType="String" parameterType="int">
		SELECT
			PASSWORD(member_pw)
		FROM member
		WHERE member_pw = PASSWORD(#{memberPw})
	</select>
	<select id="updateMemberOne" resultType="com.gdu.cashbook.vo.Member" parameterType="com.gdu.cashbook.vo.LoginMember">
		SELECT
			member_id memberId,
			member_pw memberPw,
			member_date memberDate
		FROM member
		WHERE member_id = #{memberId}
	</select>
	<delete id="deleteMember" parameterType="com.gdu.cashbook.vo.LoginMember">
		DELETE 
		FROM member
		WHERE member_id = ${memberId}
		AND member_pw = PASSWORD(${memberPw})
	</delete>
	<!-- 회원정보 가지고 오는 쿼리 -->
	<select id="selectMemberOne" resultType="com.gdu.cashbook.vo.Member" parameterType="com.gdu.cashbook.vo.LoginMember">
		SELECT
			member_id memberId,
			member_name memberName,
			member_addr memberAddr,
			member_phone memberPhone,
			member_email memberEmail,
			member_date memberDate
		FROM member
		WHERE member_id = #{memberId}
	</select>
	<!-- 중복체크를 위해 member_id를 가져오는 쿼리  -->
	<select id="selectCheckMemberId" resultType="String" parameterType="String">
		SELECT member_id
		FROM 
		(	
			SELECT member_id FROM member
			UNION
			SELECT member_id FROM memberid
		) t
		WHERE member_id=#{memberIdCk}
	</select>
	<select id="selectLoginMember" resultType="com.gdu.cashbook.vo.LoginMember" parameterType="com.gdu.cashbook.vo.LoginMember">
	 	SELECT 
	 		member_id memberId, 
	 		member_pw memberPw
	 	FROM member
	 	WHERE member_id = #{memberId}
	 	AND member_pw = PASSWORD(#{memberPw})
	</select>
	<insert id="insertMember" parameterType="com.gdu.cashbook.vo.Member">
		INSERT INTO member
		(
			member_id, 
			member_pw,
			member_name, 
			member_addr, 
			member_phone, 
			member_email,
			member_date
		)
		VALUES
		(
			#{memberId}, 
			PASSWORD(#{memberPw}),
			#{memberName}, 
			#{memberAddr}, 
			#{memberPhone}, 
			#{memberEmail},
			NOW()
		)
	</insert>
</mapper>